body {
    font-family: 'Montserrat', 'sans-serif';
    background-color: black;
}

.header {
    position: relative;
    display: block;
    height: 100px;
    background-color: black;
}

.header-title {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    padding: 20px 10px 20px 20px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.header-nav {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    padding: 20px 20px 20px 10px;
    text-align: right;
}

.header-nav-list {
    display: inline;
}

.header-nav-list-item {
    display: inline-block;
    margin: 0 0 0 15px;
}

.header-nav-list-item a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.header-nav-list-item a:hover {
    text-decoration: underline;
}

.banner {
    height: 400px;
    background-color: white;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    color: white;
}

main section {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #2E2E2E;
    padding: 40px;
}

main section .section-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
}

main section p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: medium;
}

.service-list-item {
    margin-bottom: 40px;
}

.service-list-item > * {
    margin-bottom: 20px;
}

.service-list-item h3 {
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

.service-list-item h3::before {
    content: '. ';
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 20px;
    background-color: white;
}

.copyright {
    font-size: large;
}